﻿@{ 
    Dictionary<int, WeekEpisodes> episodes = (Dictionary<int, WeekEpisodes>)ViewBag.today_episodes;
    Dictionary<int, WeekEpisodes> tomorrow_episodes = (Dictionary<int, WeekEpisodes>)ViewBag.tomorrow_episodes;
    string picture = ViewBag.picture;
}

<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            
            <li>
                <img src="~/images/series/walkingdead.jpg" class="img-responsive" alt="" />
                <div class="button">
                    @*<span style="color:white;font-size:25px;margin-right:10px"> Game of Thrones</span>*@
                    <a href="/title/445" class="hvr-shutter-out-horizontal">View Now</a>
                </div>
            </li>
            <li>
                <img src="~/images/series/daredevil.png" class="img-responsive" alt="" />
                <div class="button">
                    @*<span style="color:white;font-size:25px;margin-right:10px"> Game of Thrones</span>*@
                    <a href="/title/21493" class="hvr-shutter-out-horizontal">View Now</a>
                </div>
            </li>
            <li>
                <img src="~/images/series/Homeland.jpg" class="img-responsive" alt="" />
                <div class="button">

                    <a href="/title/54" class="hvr-shutter-out-horizontal">View Now</a>
                </div>
            </li>
        </ul>
    </div>
   
</div>
<div class="content">
    <div class="box_1">
        <h1 class="m_2">Today's Top TV Episodes</h1>
        <h4 class="pull-right"><a href="/Episodes">All Recent Episodes</a></h4>
        <div class="clearfix"> </div>
    </div>
    <div class="box_2">
        <div class="col-md-12 grid_3">
            <div class="row_1">
                @foreach (KeyValuePair<int, WeekEpisodes> episode in episodes)
                {
                <div class="col-md-6 grid_4 five-columns">
                    <a href="/title/@episode.Key">
                        <div class="grid_2 col_1">
                            <img src="@picture@episode.Value.img" class="img-responsive" alt="" />
                        </div>
                        <div>@episode.Value.title</div>
                    </a>
                    <span>@episode.Value.number</span>
                </div>
                }  
                <div class="clearfix"> </div>
            </div>
           
        </div>
        
      
        <div class="clearfix"> </div>
    </div>
</div>

<div class="content">
    <div class="box_1">
        <h1 class="m_2">Tomorrow's Top TV Episodes</h1>
        <div class="clearfix"> </div>
    </div>
    <div class="box_2">
        <div class="col-md-12 grid_3">
            <div class="row_1">
                @foreach (KeyValuePair<int, WeekEpisodes> episode in tomorrow_episodes)
                {
                    <div class="col-md-6 grid_4 five-columns">
                        <a href="/title/@episode.Key">
                            <div class="grid_2 col_1">
                                <img src="@picture@episode.Value.img" class="img-responsive" alt="" />
                            </div>
                            <div>@episode.Value.title</div>
                        </a>
                        <span>@episode.Value.number</span>
                    </div>
                }
                <div class="clearfix"> </div>
            </div>

        </div>


        <div class="clearfix"> </div>
    </div>
</div>