﻿@using Microsoft.AspNet.Http;
@{
    // ViewBag.Title = "Home Page";
    Dictionary<int, User> users = (Dictionary<int, User>)ViewBag.users;
    int loggedon = 1;
    if (Context.Session.GetInt32("on") == null || Context.Session.GetInt32("on") == 0)
    {
        loggedon = 0;
    }
}

<div class="row members">
    <div class="col-md-3"><strong>Member</strong></div>
    <div class="col-md-3">Gender</div>
    <div class="col-md-3">Country</div>
    <div class="col-md-3">Joined</div>
    </div>
<hr>
    @foreach (KeyValuePair<int, User> user in users)
    {
        <div class="row child" >
            <div class="col-md-3">
                <strong>@user.Value.name</strong><br />
                @if (user.Value.isFriend == 1)
                { <a href="#" class="add-friend" id="@user.Key" style="margin-top:5px;color:red">Remove Friend</a> }
                else if(user.Key!= Context.Session.GetInt32("id"))
                {  <a href="#" class="add-friend" id="@user.Key" style="margin-top:5px;">Add to friends</a> }
            </div>
            <div class="col-md-3">@user.Value.gender</div>
            <div class="col-md-3">@user.Value.country</div>
            <div class="col-md-3">@user.Value.joined</div>
       
        </div>
        <hr>

    }

<script>
    $(document).on('click', ".add-friend", function (e) {
        if(@loggedon==0) $( "#login" ).trigger( "click" );
        else
        {
            var option=0;
            if($(this).text()=="Remove Friend") {
                option=2;
                $(this).text("Add to friends");
                $(this).css("color","#0F9A0F");
            }
            else {option=1;
            $(this).text("Remove Friend");
            $(this).css("color","red");
            }
            $.ajax({
                type: "POST",
                url: '/addFriend',
                data: {
                    id_friend: $(this).attr("id"),
                    option:option

                },
                success: function (data) {
                    console.log(data);
                }
            });
        }
    });
</script>
