﻿@using Microsoft.AspNet.Http;
@using System.IO;
@{

    int loggedon = 1;
    if (Context.Session.GetInt32("on") == null || Context.Session.GetInt32("on") == 0)
    {
        loggedon = 0;
    }
    int id = 0;
    int fileExists = 0;
    if (loggedon == 1)
    {
        id = (int)ViewBag.id;
        if (File.Exists("../images/users/" + id + ".png"))
        {
            fileExists = 1;
        }
    }
    // string path = System.Web.HttpContext.Current.Server.MapPath("/About");
}
@if (loggedon == 1)
{

    <div class="row">
        <div class="hero-unit">
            <div class="col-md-6">
                <h3>General Information</h3>
                <form method="POST" action="#" class="update-form" id="update-form">
                    <div class="form-group">
                        <label class="sr-only" for="form-first-email">Email Address</label>
                        <div class="controls">
                            <input type="text" name="emailReg" placeholder="Email Address" value="@ViewBag.email" class="form-email form-control" id="emailReg" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-first-pass">Password</label>
                        <div class="controls">
                            <input type="password" name="password" value="@ViewBag.password" placeholder="Password" class="form-password form-control" id="passReg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-first-pass">Confirm Password</label>
                        <div class="controls">
                            <input type="password" name="confirmPassword" value="@ViewBag.password" placeholder="Confirm Password" class="form-password form-control" id="confirmPassReg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">First name</label>
                        <div class="controls">
                            <input type="text" name="firstname" value="@ViewBag.firstname" placeholder="First name" class="form-first-name form-control" id="firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">Last name</label>
                        <div class="controls">
                            <input type="text" name="lastname" value="@ViewBag.lastname" placeholder="Last name" class="form-last-name form-control" id="lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">Country</label>
                        <div class="controls">
                            <input type="text" name="country" value="@ViewBag.country" placeholder="Country" class="form-Country form-control" id="country">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <select id="gender" name="gender">
                                @if (ViewBag.gender == 0)
                                {
                                    <option value="0" selected="">Gender</option>
                                }
                                else
                                {
                                    <option value="0">Gender</option> }
                                @if (ViewBag.gender == 1)
                                {
                                    <option value="1" selected="">Male</option>}
                                else
                                {
                                    <option value="1" selected="">Male</option>}
                                @if (ViewBag.gender == 2)
                                {
                                    <option value="2" selected="">Female</option>}
                                else
                                {
                                    <option value="2">Female</option>}
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Update Profile</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Profile Picture</h3>
                @if (ViewBag.imageExists == 1)

                {<img style="width:250px;" src="~/images/users/@(id).png" /> }
                else
                {<img style="width:250px;" src="~/images/series/noimage.png" /> }
                <form style="margin-top:20px;" id="uploadpictureform" action="/UploadPicture" method="post" enctype="multipart/form-data">
                    <div class="col-lg-6"><input type="file" name="files" id="files" /></div>
                    <div class="col-lg-6" style="padding-bottom:10px;">
                        <input id="uploadpicture" class="btn btn-success btn-xs pull-left" type="submit" value="Upload Profile Picture" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $('#update-form').validate({
            rules: {
                password: {
                    minlength: 5,
                    required: true
                },
                firstname: {
                    required: true
                },
                lastname: {
                    required: true
                },
                confirmPassword: {
                    minlength: 5,
                    required: true,
                    equalTo: '#passReg'
                },
                emailReg: {
                    required: true,
                    email: true
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
                $(element).closest('.form-group').find('input').css('border-color', 'red');
            },
            success: function (element) {
                element.addClass('valid')
                    .closest('.form-group').removeClass('error').addClass('success');
                $(element).closest('.form-group').find('input').css('border-color', 'green');
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: '/UpdateProfile',
                    data: {
                        password: $("#passReg").val(),
                        firstname: $("#firstname").val(),
                        lastname: $("#lastname").val(),
                        gender: $("#gender").val(),
                        country: $("#country").val()
                    },
                    success: function (data) {
                        console.log(data);
                        switch (data) {
                            case "1": $.notify({
                                // options
                                message: 'Profile updated succesfully!'
                            }, {
                                // settings
                                type: 'info'
                            });
                                break;
                            case "0":
                                $.notify({
                                    // options
                                    message: 'Something went wrong. Please try again later.'
                                }, {
                                    // settings
                                    type: 'danger'
                                });
                                break;
                        }
                    }
                });

            }
        });
    });

</script>