﻿<div class="well">

   
        <div class="form-top">
            <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="hero-unit">


            <form method="POST" action="#" class="registration-form" id="contact-form">
                <div class="form-group">
                    <label class="sr-only" for="form-first-email">Email Address</label>
                    <div class="controls">
                        <input type="text" name="emailReg" placeholder="Email Address" class="form-email form-control" id="emailReg">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-first-pass">Password</label>
                    <div class="controls">
                        <input type="password" name="password" placeholder="Password" class="form-password form-control" id="passReg">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-first-pass">Confirm Password</label>
                    <div class="controls">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-password form-control" id="confirmPassReg">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-first-name">First name</label>
                    <div class="controls">
                        <input type="text" name="firstname" placeholder="First name" class="form-first-name form-control" id="firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-first-name">Last name</label>
                    <div class="controls">
                        <input type="text" name="lastname" placeholder="Last name" class="form-last-name form-control" id="lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-first-name">Country</label>
                    <div class="controls">
                        <input type="text" name="country" placeholder="Country" class="form-Country form-control" id="country">
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <select id="gender" name="gender">
                            <option value="0" selected="">Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Register</button>
                </div>
            </form>
        </div>

    </div>


<script>
    $(document).ready(function () {

        $('#contact-form').validate({
            rules: {
                password: {
                    minlength: 5,
                    required: true
                },
                firstname: {
                    required: true
                },
                lastname: {
                    required: true
                },
                confirmPassword: {
                    minlength: 5,
                    required: true,
                    equalTo: '#passReg'
                },
                emailReg: {
                    required: true,
                    email: true
                },
                message: {
                    minlength: 2,
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
                $(element).closest('.form-group').find('input').css('border-color', 'red');
            },
            success: function (element) {
                element.addClass('valid')
                    .closest('.form-group').removeClass('error').addClass('success');
                $(element).closest('.form-group').find('input').css('border-color', 'green');
            },
            submitHandler: function (form) {

                $.ajax({
                    type: "POST",
                    url: '/UpdateProfile',
                    data: {
                        email: $("#emailReg").val(),
                        password: $("#passReg").val(),
                        firstname: $("#firstname").val(),
                        lastname: $("#lastname").val(),
                        gender: $("#gender").val(),
                        country: $("#country").val()
                    },
                    success: function (data) {

                        switch (data) {
                            case "-1": BootstrapDialog.show({
                                title: "<div class='widget-header'><h4><i class='fa fa-warning'></i> Error</h4></div>",
                                message: $('  <div>Please choose another email, this already exists.</div>'),
                                buttons: [{
                                    label: 'Ok',
                                    cssClass: 'btn-primary',
                                    hotkey: 13, // Enter.
                                    action: function (dialogItself) {
                                        dialogItself.close();
                                    }
                                }]
                            });
                                break;

                            case "1":
                                BootstrapDialog.show({
                                    title: "<div class='widget-header'><h4><i class='glyphicon glyphicon-ok'></i> Success</h4></div>",
                                    message: $('  <div>Your account was created. You can now login</div>'),
                                    buttons: [
                                        {
                                            label: 'Login',
                                            cssClass: 'btn-primary',
                                            id:'login',
                                            action: function (dialogItself) {
                                                dialogItself.close();
                                            }
                                        },
                                        {
                                            label: 'Close',
                                            cssClass: 'btn-primary',
                                            hotkey: 13, // Enter.
                                            action: function (dialogItself) {
                                                dialogItself.close();
                                            }

                                        }]
                                });
                                break;
                            default:
                                BootstrapDialog.show({
                                    title: "<div class='widget-header'><h4><i class='fa fa-warning'></i> Error</h4></div>",
                                    message: $("  <div>You can't register right now. Please try again later.</div>"),
                                    buttons: [{
                                        label: 'Ok',
                                        cssClass: 'btn-primary',
                                        hotkey: 13, // Enter.
                                        action: function (dialogItself) {
                                            dialogItself.close();
                                        }
                                    }]
                                });
                                break;

                        }
                    }

                });
            }
        });

    });
</script>