﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    string sex = "";
    if (ViewBag.gender == 2) { sex = "female"; }
    else if(ViewBag.gender==1) { sex = "male"; }
    Dictionary<int, string> education = (Dictionary<int, string>)ViewBag.education;
    Dictionary<int, string> awards = (Dictionary<int, string>)ViewBag.awards;
    Dictionary<int, similar> series = (Dictionary<int, similar>)ViewBag.similar;
}

<div class="movie_top actor-grid">
    <div class="col-md-9 movie_box">
        <div class="grid images_3_of_2">
            <div class="movie_image">
                
                @if (ViewBag.img != "")
                { <img src="@(ViewBag.path)/@ViewBag.img" class="img-responsive" alt="" /> }
                else
                { <img src="~/images/series/noimage.png" img-responsive" alt="" />}
            </div>
            @if (ViewBag.imdb != "" || ViewBag.wikipedia != "")
            {
                {
                    <p class="movie_option" style="margin-top:15px;">
                        <strong>More Info:</strong>
                        @if (ViewBag.imdb != "")
                        {<span><a href="http://imdb.com/name/@ViewBag.imdb">IMDB</a></span>
                        }
                        @if (ViewBag.wikipedia != "")
                        {<span><a href="@ViewBag.wikipedia">Wikipedia</a></span>}
                    </p>
                }
            }
        </div>
        <div class="desc1 span_3_of_2">
            <div class="name-container">
                <h3>@ViewBag.name</h3>
                <h4>@ViewBag.subtitle</h4>
            </div>
            @if (ViewBag.date_of_birth != "")
            {   <div id="actor-db">
                <p class="movie_option dob"><strong>Date of birth</strong><br />@ViewBag.date_of_birth</p>
                </div>
            }
            @if (ViewBag.place_birth != "")
            {   <div id="actor-pb">
                <p class="movie_option pb"><strong>Place birth<br /> </strong>@ViewBag.place_birth</p>
                </div>
                }
                @if (ViewBag.date_of_death != "")
                {   
                    <p class="movie_option dd"><strong>Date of death<br /></strong>@ViewBag.date_of_death</p>
                }
                @if (sex != "")
                {   <div id="actor-gender">
                <p class="movie_option gender"><strong>Gender<br /> </strong>@sex</p>
                    </div>
                }
                @if (ViewBag.nrEducation > 0)
                {
                    <p class="movie_option education">
                        <strong>Educated<br /></strong>
                        @foreach (KeyValuePair<int, string> educ in education)
                        {
                            <span>
                                <a href="/education/@educ.Key">@educ.Value</a>
                                @if (educ.Value != education.Values.Last())
                                { <span><br /></span>}
                            </span>
                        }
                    </p>}
                @if (ViewBag.nrAwards > 0)
                {
                    <p class="movie_option awards">
                        <strong>Awards<br /></strong>
                        @foreach (KeyValuePair<int, string> award in awards)
                        {
                            <span>
                                <a href="/award/@award.Key">@award.Value</a>
                                @if (award.Value != awards.Values.Last())
                                { <span><br /></span>}
                            </span>
                        }
                    </p>}

            </div>
        <div class="clearfix"> </div>
        @if (ViewBag.description != "")
            {<h3 class="bio">About <strong>@ViewBag.name</strong></h3>
            <p class="m_4" id="description">
                @ViewBag.description
            </p>
        }
    </div>
    <div class="col-md-3">
        @if (series.Count > 0)
        {
            @foreach (KeyValuePair<int, similar> serie in series)
            {
                <div class="grid_2 col_1">
                    <a href="/title/@serie.Key"><img src="@Startup.settings["series"]/@serie.Value.img" class="img-responsive" alt=""></a>
                    <div class="caption1">
                        <!-- <ul class="list_3 list_7">
                              <li><i class="icon5"> </i><p>3,548</p></li>
                          </ul>-->
                        <p class="m_3">@serie.Value.title</p>
                    </div>
                </div>

            }
        }
    </div>
    <div class="clearfix"> </div>
</div>