﻿@using Microsoft.AspNet.Http;
@{
    Dictionary<int, Series> series = (Dictionary<int, Series>)ViewBag.series;
    int loggedon = 1;
    if (Context.Session.GetInt32("on") == null || Context.Session.GetInt32("on") == 0)
    {
        loggedon = 0;
    }
    int totalPages = ViewBag.totalpages;
    if (totalPages == 0) { totalPages = 1; }
    int id = ViewBag.id;
    int count = 0;
}
@ViewBag.error
<h3 id="title">@ViewBag.title Country</h3>
<a href="/topseries/country/@id" style="font-size:20px;color:#D8232A;">Top @ViewBag.title</a>
<div id="content-series">

    <div class="movie_top">
        @foreach (KeyValuePair<int, Series> serie in series)
        {

            count++;
            <div class='col-md-12 movie_box pagination' id="pag-@count">
                <div class='grid images_3_of_2'>
                    <div class='movie_image'>
                        <span class="movie_rating" id="@serie.Key">@serie.Value.total_rating</span>
                        <a href="/title/@serie.Key">
                            @if (serie.Value.img != "")
                            { <img src='@ViewBag.path@serie.Value.img' class='img-responsive' alt='' /> }
                            else
                            { <img src='~/images/series/noimage.png' img-responsive' alt='' /> }
                        </a>
                    </div>
                    <div class="movie_rate">
                        <div class="rating_desc"><p>Your Vote :</p></div>
                        <form action="" class="sky-form">
                            <fieldset>
                                <section>
                                    <div class="rating" id="@serie.Key">
                                        @if (serie.Value.my_rating == 5)
                                        { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-5" serie="@serie.Key">
                                        }
                                        else
                                        { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-5" serie="@serie.Key">}
                                        <label for="stars-rating-@serie.Key-5"><i class="icon-star"></i></label>
                                        @if (serie.Value.my_rating == 4)
                                        { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-4" serie="@serie.Key">
                                        }
                                        else
                                        { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-4" serie="@serie.Key">}
                                        <label for="stars-rating-@serie.Key-4"><i class="icon-star"></i></label>
                                        @if (serie.Value.my_rating == 3)
                                        { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-3" serie="@serie.Key">
                                        }
                                        else
                                        { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-3" serie="@serie.Key">}
                                        <label for="stars-rating-@serie.Key-3"><i class="icon-star"></i></label>
                                        @if (serie.Value.my_rating == 2)
                                        { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-2" serie="@serie.Key">
                                        }
                                        else
                                        { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-2" serie="@serie.Key">}
                                        <label for="stars-rating-@serie.Key-2"><i class="icon-star"></i></label>
                                        @if (serie.Value.my_rating == 1)
                                        { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-1" serie="@serie.Key">
                                        }
                                        else
                                        { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-1" serie="@serie.Key">}
                                        <label for="stars-rating-@serie.Key-1"><i class="icon-star"></i></label>
                                    </div>
                                </section>
                            </fieldset>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="desc1 span_3_of_2">
                    <a href="/title/@serie.Key">
                        <h3>@serie.Value.title</h3>
                    </a>
                    <p class="movie_option">@serie.Value.description</p>
                    <a href="/title/@serie.Key" id="read-more">View More</a>
                </div>
            </div>
        }
    </div>
</div>
<div id="page-selection"></div>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

<script src="~/js/pagination/jquery.bootpag.js"></script>
<script src="~/js/pagination/jquery.bootpag.min.js"></script>
<script>
    var js_content;
    $('#page-selection').bootpag({
        total: @totalPages,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {

        console.log(num);
        $.ajax({
            type: "POST",
            url: '/resultPagination',
            data: {
                start_from: (num-1)*10,
                id: @id,
                type: "country"
            },
            success: function (data) {
                var seriale=jQuery.parseJSON(data);
                var count=0;
                $.each(seriale, function (index, value) {
                    count++;
                    var img=value["img"];
                    var my_rating=value["my_rating"];
                    $("#pag-"+count).css("display","inline");
                    if(img!=null&&img!="")
                        $("#pag-"+count).find("img").attr("src","@ViewBag.path"+value["img"]);
                    else  $("#pag-"+count).find("img").attr("src","../images/series/noimage.png");
                    $("#pag-"+count+" > .images_3_of_2 > .movie_image > a").attr("href","/title/"+index);
                    $("#pag-"+count +" > .desc1.span_3_of_2 > a").attr("href","/title/"+index);
                    $("#pag-"+count +" > .desc1.span_3_of_2 > a > h3").text(value["title"]);
                    $("#pag-"+count +" > .desc1.span_3_of_2 > p").text(value["description"]);
                    $("#pag-"+count+" > .images_3_of_2 > .movie_image > .movie_rating").text(value["total_rating"]);
                    $("#pag-"+count).find('*').attr("serie",index);
                    var elements= $("#pag-"+count).find('input');
                    $.each(elements,function(i,val){
                        var nr=5-i;
                        val.setAttribute("id",'stars-rating-'+index+'-'+nr);
                    });
                    var elements= $("#pag-"+count).find('label');
                    $.each(elements,function(i,val){
                        var nr=5-i;
                        val.setAttribute("for",'stars-rating-'+index+'-'+nr);
                    });
                    $("#pag-"+count).find('span').attr("id",index);
                    $("#pag-"+count).find('input').removeAttr('checked');

                    $('input[id="stars-rating-'+index+'-'+my_rating+'"][serie="'+index+'"]').attr("checked","");

                    last=index;
                });
                for(var i=count;i<10;i++)
                {
                    $("#pag-"+i).css("display","none");

                }

            }
        });
        js_content='<div class="movie_top">';


       // HtmlString s = new HtmlString(content);


    });



    $( ".stars-rating" ).change(function() {
        if(@loggedon==0) $( "#login" ).trigger( "click" );
        else
        {
            var id=$(this).attr("id");
            var nr_stars=id.substr(id.length-1);
            //console.log(nr_stars);
            var serie_id=$(this).attr("serie");
           // console.log("serie id "+serie_id);
            $.ajax({
                type: "POST",
                url: '/Rating',
                data: {
                    rating: nr_stars,
                    id: serie_id
                },
                success: function (data) {
                    console.log("total: "+data);
                    if(data=="0")
                        $.notify({
                            message: 'An error ocurred. Please try again later.'
                        },{
                            type: 'danger'
                        });
                    $("span[id='"+serie_id+"']").text(data);
                }
            });
        }
    });
</script>