﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Dictionary<int, Person> persons = (Dictionary<int, Person>)ViewBag.persons;

    int totalPages = ViewBag.totalpages;
    if (totalPages == 0) { totalPages = 1; }
    string path = ViewBag.path;
    string local_path="";
    int id = ViewBag.id;
    int count = 0;
}
@ViewBag.error
<h3 id="title">Educated: <strong>@ViewBag.title</strong></h3>
<div id="content-series">

    <div class="movie_top">
        @foreach (KeyValuePair<int, Person> person in persons)
        {
            path = ViewBag.path;
            count++;
            <div class='col-md-12 movie_box pagination' id="pag-@count">
                <div class='grid images_3_of_2'>
                    <div class='movie_image'>
                        @if (person.Value.type == 0)
                        {
                            path = path + "actors/";
                            local_path = "/actor/";
                        }
                        else if (person.Value.type == 1)
                        {
                            path = path + "creators/";
                            local_path = "/creation/";
                        }
                        else
                        {
                            path = path + "composers/";
                            local_path = "/creation/";
                        }
                        <a href="@local_path@person.Key">
                            @if (person.Value.img != "")
                            { 
                               
                                <img src='@path@person.Value.img' class='img-responsive' alt='' /> }
                            else
                            { <img src='~/images/series/noimage.png' img-responsive' alt='' /> }
                        </a>
                    </div>
                    
                </div>
                <div class="desc1 span_3_of_2">
                    <a href="@local_path@person.Key">
                        <h3>@person.Value.name</h3>
                    </a>
                    <p class="movie_option">@person.Value.description</p>
                    <a href="@local_path@person.Key" id="read-more">View More</a>
                </div>
            </div>
        }
    </div>
</div>
<div id="page-selection"></div>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

<script src="~/js/pagination/jquery.bootpag.js"></script>
<script src="~/js/pagination/jquery.bootpag.min.js"></script>
<script>
    var js_content;
    $('#page-selection').bootpag({
        total: @totalPages,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {

        console.log(num);
        $.ajax({
            type: "POST",
            url: '/resultPagination',
            data: {
                start_from: (num-1)*10,
                id: @id,
                type: "person"
            },
            success: function (data) {
                var seriale=jQuery.parseJSON(data);
                var count=0;
                $.each(seriale, function (index, value) {
                    count++;
                    var img=value["img"];
                    if(img=="") console.log("NULL");
                    console.log("img: "+value["img"]);
                    var path,local_path;
                    if (value["type"] == 0)
                    {
                        path = "@ViewBag.path" + "actors/";
                        local_path = "/actor/";
                    }
                    else if (person.Value.type == 1)
                    {
                        path = "@ViewBag.path" + "creators/";
                        local_path = "/creation/";
                    }
                    else
                    {
                        path = "@ViewBag.path" + "composers/";
                        local_path = "/creation/";
                    }
                    $("#pag-"+count).css("display","");
                    if(img!=null&&img!="")
                        $("#pag-"+count).find("img").attr("src",path+value["img"]);
                    else  $("#pag-"+count).find("img").attr("src","../images/series/noimage.png");
                    $("#pag-"+count+" > .images_3_of_2 > .movie_image > a").attr("href",local_path+index);
                    $("#pag-"+count +" > .desc1.span_3_of_2 > a").attr("href",local_path+index);
                    $("#pag-"+count +" > .desc1.span_3_of_2 > a > h3").text(value["name"]);
                    $("#pag-"+count +" > .desc1.span_3_of_2 > p").text(value["description"]);
                    last=index;
                });
                for(var i=count;i<=10;i++)
                {
                    $("#pag-"+i).css("display","none");
                    
                }

            }
        });



       // HtmlString s = new HtmlString(content);


    });
</script>