﻿@{
    Dictionary<int, WeekEpisodes> today_episodes = (Dictionary<int, WeekEpisodes>)ViewBag.today_episodes;
    Dictionary<int, WeekEpisodes> tomorrow_episodes = (Dictionary<int, WeekEpisodes>)ViewBag.tomorrow_episodes;
    Dictionary<int, WeekEpisodes> yesterday_episodes = (Dictionary<int, WeekEpisodes>)ViewBag.yesterday_episodes;
}
<div class="row">
    <div class="col-md-4">
        <h3>Today's TV Episodes:</h3>
        @foreach (KeyValuePair<int, WeekEpisodes> episode in today_episodes)
        {
            <div class="episode" style="margin-top:5px;">
                <a href="../title/@episode.Key">
                    <img style="width:30px;height:50px;" src="@Startup.settings["series"]@episode.Value.img" />
                </a>
                <a href="../title/@episode.Key">@episode.Value.title</a>
                <span> @episode.Value.number</span>
            </div>
        }
    </div>
    <div class="col-md-4">
        <h3>Tomorrow's TV Episodes:</h3>
        @foreach (KeyValuePair<int, WeekEpisodes> episode in tomorrow_episodes)
        {
            <div class="episode" style="margin-top:5px;">
                <a href="../title/@episode.Key">
                    <img style="width:30px;height:50px;" src="@Startup.settings["series"]@episode.Value.img" />
                </a>
                <a href="../title/@episode.Key">@episode.Value.title</a>
                <span> @episode.Value.number</span>
            </div>
        }
    </div>
    <div class="col-md-4">
        <h3>Yesterday's TV Episodes:</h3>
        @foreach (KeyValuePair<int, WeekEpisodes> episode in yesterday_episodes)
        {
            <div class="episode" style="margin-top:5px;">
                <a href="../title/@episode.Key">
                    <img style="width:30px;height:50px;" src="@Startup.settings["series"]@episode.Value.img" />
                </a>
                <a href="../title/@episode.Key">@episode.Value.title</a>
                <span> @episode.Value.number</span>
            </div>
        }
    </div>
</div>