﻿@using Microsoft.AspNet.Http;
@{


    string read_more = ViewBag.read_more;
    string description = ViewBag.description;
    string img = "";
    if (ViewBag.img != "") { img = ViewBag.img; }

    Dictionary<int, string> genres = (Dictionary<int, string>)ViewBag.genres;
    Dictionary<int, string> creators = (Dictionary<int, string>)ViewBag.creators;
    Dictionary<int, string> actors = (Dictionary<int, string>)ViewBag.actors;
    Dictionary<int, string> composers = (Dictionary<int, string>)ViewBag.composers;
    Dictionary<int, string> languages = (Dictionary<int, string>)ViewBag.languages;
    List<Comment> comments = (List<Comment>)ViewBag.comments;
    Dictionary<int, similar> similarSeries = (Dictionary<int, similar>)ViewBag.similarSeries;
    string title = ViewBag.title;
    int my_rating = ViewBag.my_rating;
    int loggedon = 1;
    if (Context.Session.GetInt32("on") == null || Context.Session.GetInt32("on") == 0)
    {
        loggedon = 0;
    }
    string name = Context.Session.GetString("firstname") + " " + Context.Session.GetString("lastname");
    int nrSeasons = Convert.ToInt32(ViewBag.nrSeasons);
    List<Episode> episodes = (List<Episode>)ViewBag.episodes;
    string myimg = "";
    if (ViewBag.myimg != "") { myimg = ViewBag.myimg; }
    if (myimg == "") { myimg = "/images/series/noimage.png"; }
}
@ViewBag.error

<div class="movie_top actor-grid">
    <div class="col-md-9 movie_box">
        <div class="grid images_3_of_2">
            <div class="movie_image">
                <span class="movie_rating">@ViewBag.total_rating</span>
                @if (ViewBag.img != "")
            { <img src="@(ViewBag.path)/@ViewBag.img" class="img-responsive" alt="" /> }
                else
                { <img src="~/images/series/noimage.png" img-responsive" alt="" />}
            </div>
            <div class="movie_rate">
                <div class="rating_desc"><p>Your Vote :</p></div>
                <form action="" class="sky-form">
                    <fieldset>
                        <section>
                            <div class="rating">
                                <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-5">
                                <label for="stars-rating-5"><i class="icon-star"></i></label>
                                <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="icon-star"></i></label>
                                <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="icon-star"></i></label>
                                <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="icon-star"></i></label>
                                <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="icon-star"></i></label>
                            </div>
                        </section>
                    </fieldset>
                </form>
                <div class="clearfix"> </div>
                <a href="#" class="title-add-favorites add-favorites"><span class="glyphicon glyphicon-heart" style="margin-right: 5px;"></span>@ViewBag.favorites</a>
            </div>
            @if (ViewBag.imdb != "" || ViewBag.wikipedia != "")
            {
                {
                    <p class="movie_option" style="margin-top:15px;">
                        <strong>More Info:</strong>
                        @if (ViewBag.imdb != "")
                        {<span><a href="http://imdb.com/title/@ViewBag.imdb">IMDB</a></span>
                        }
                        @if (ViewBag.wikipedia != "")
                        {<span><a href="@ViewBag.wikipedia">Wikipedia</a></span>}
                    </p>
                }
            }
            @if (ViewBag.imdb != "")
            {
                <iframe width="290" height="170" src="http://www.hovelo.com/api/index.php?id=@ViewBag.imdb" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" frameborder="0"></iframe>
            }
        </div>
        <div class="desc1 span_3_of_2">
            <div class="name-container">
                <h3> @title </h3>
                @if (ViewBag.nrgenres > 0)
                {
                    <p class="movie_option">

                        @foreach (KeyValuePair<int, string> genre in genres)
                {
                            <span>
                                <a href="/genre/@genre.Key">@genre.Value</a>
                                @if (genre.Value != genres.Values.Last())
                                { <span>,</span>}
                            </span>
                        }
                    </p>
                }
            </div>




            @if (ViewBag.country_id != 0)
            {
                <p class="movie_option"><strong>Country: </strong><a href="/country/@ViewBag.country_id">@ViewBag.country</a></p>
            }
            @if (ViewBag.start_date != "")
            {
                <p class="movie_option"><strong>Release date: </strong>@ViewBag.start_date</p>
            }
            @if (ViewBag.network != "")
            {
                <p class="movie_option"><strong>Network: </strong><a href="/network/@ViewBag.network_id">@ViewBag.network</a></p>
            }
            @if (ViewBag.nrCreators > 0)
            {
                <p class="movie_option">
                    <strong>Created by:</strong>
                    @foreach (KeyValuePair<int, string> creator in creators)
                {
                        <span>
                            <a href="/creation/@creator.Key">@creator.Value</a>
                            @if (creator.Value != creators.Values.Last())
                            { <span>,</span>}
                        </span>
                    }
                </p>}
            @if (ViewBag.nrComposers > 0)
            {
                <p class="movie_option">
                    <strong>Composer:</strong>
                    @foreach (KeyValuePair<int, string> composer in composers)
                {
                        <span>
                            <a href="/creation/@composer.Key">@composer.Value</a>
                            @if (composer.Value != composers.Values.Last())
                            { <span>,</span>}
                        </span>
                    }
                </p>}
            @if (ViewBag.nrLanguages > 0)
            {
                <p class="movie_option">
                    <strong>Languages:</strong>
                    @foreach (KeyValuePair<int, string> language in languages)
                {
                        <span>
                            <a href="/language/@language.Key">@language.Value</a>
                            @if (language.Value != languages.Values.Last())
                            { <span>,</span>}
                        </span>
                    }
                </p>}
            @if (ViewBag.nr_seasons != "")
            {
                <p class="movie_option"><strong>Number seasons: </strong>@ViewBag.nr_seasons</p>
            }
            @if (ViewBag.nr_episodes != "")
            {
                <p class="movie_option"><strong>Number episodes: </strong>@ViewBag.nr_episodes</p>
            }

            @if (ViewBag.nrActors > 0)
            {
                <p class="movie_option">
                    <strong>Actors:</strong>
                    @foreach (KeyValuePair<int, string> actor in actors)
                {
                        <span>
                            <a href="/actor/@actor.Key">@actor.Value</a>
                            @if (actor.Value != actors.Values.Last())
                            { <span>,</span>}
                        </span>
                    }
                </p>}
            @*<div class="down_btn"><a class="btn1" href="#"><span> </span>Download</a></div>*@
        </div>
        <div class="clearfix"> </div>
        @*@if (ViewBag.read_more != "")*@
        <h3 class="bio">About <strong>@title</strong></h3>
        <p class="m_4" id="description">
            @ViewBag.description
            @*<a href="#" id="read-more">Read More</a>*@
        </p>

        @if (ViewBag.imdb != "" && nrSeasons > 0)
        {
            <div>
                <h4>Seasons</h4>
                @for (int i = nrSeasons; i >= 1; i--)
                {
                    <a href="#self" class="number-season" id="@i">@i</a>
                    if (i != 1)
                    { <span> | </span>}
                }
            </div><br />
            <div class="season" id="@nrSeasons">
                @foreach (Episode episode in episodes)
                {
                    <div class="list_item-@episode.number">
                        <div class="image">
                            <div class="hover-over-image zero-z-index ">
                                <img width="200" height="112" class="zero-z-index" alt="Valar Dohaeris" src="@episode.img">
                                <div>
                                    S @nrSeasons, Ep @episode.number
                                    <span style="color:#379ACC; margin-left:5px;">
                                        @if (episode.watched == 1)
                                        {
                                            <input checked type="checkbox" id="watched" episode="@episode.number" season="@nrSeasons" value="Watched">                                 }
                                        else
                                        {
                                            <input type="checkbox" id="watched" episode="@episode.number" season="@nrSeasons" value="Watched">

                                        }
                                        Watched
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <meta content="@episode.number">
                            <div class="airdate">
                                @episode.airdate
                            </div>
                            <strong>@episode.name</strong>
                            <div class="item_description" itemprop="description">
                                @Html.Raw(@episode.summary)
                            </div>
                        </div>
                        <div class="clear">&nbsp;</div>
                    </div>

                }
            </div>
        }
        <br /><br />
        @if (loggedon == 1)
        {
            <form method="post" id="comment-form">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                </div>
                <div class="form-submit1">
                    <input name="submit" type="submit" id="submit-msg" value="Submit Your Message"><br>
                </div>
                <div class="clearfix"></div>
            </form>
        }
        else
        { <div><strong>You need to login in to make a comment.</strong> </div>}
        <div class="single">
            <h1>@ViewBag.nrComments Comments</h1>
            <ul class="single_list">
                @if (ViewBag.nrComments > 0)
            {

                    @foreach (Comment comm in comments)
                {
                        <li>
                            <div class="preview">
                                @if (comm.img != "")
                                {
                            <a href="#"><img src="@comm.img" style="width: 40px;height: 50px;" class="img-responsive" alt=""></a>
                                }
                                else
                                { <a href="#"><img src="/images/series/noimage.png" style="width: 40px;height: 50px;" class="img-responsive" alt=""></a>}
                            </div>
                            <div class="data">

                                <div class='title'>@comm.username <span id='comment-date'>@comm.date</span></div>
                                <p>@comm.comment</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    }


                }
            </ul>
        </div>

    </div>
    <div class="col-md-3">
        @if (ViewBag.nrSimilar > 0)
        {
            @foreach (KeyValuePair<int, similar> series in similarSeries)
            {
                <div class="grid_2 col_1">
                    <a href="/title/@series.Key">
                        @if (series.Value.img != "")
                        {<img src="@(ViewBag.path)/@series.Value.img" class="img-responsive" alt=""> }
                        else
                        {<img src="~/images/series/noimage.png" class="img-responsive" alt=""> }
                    </a>
                    <div class="caption1">
                        <!-- <ul class="list_3 list_7">
                              <li><i class="icon5"> </i><p>3,548</p></li>
                          </ul>-->
                        <p class="m_3">@series.Value.title</p>
                    </div>
                </div>

            }
        }
    </div>
    <div class="clearfix"> </div>
</div>





<script>
    $(document).on('change',"#watched",function(e)
    {
        if(@loggedon==0) $( "#login" ).trigger( "click" );
        else
        {
            var checked="false";
            if(this.checked)
                checked="true";
            var season=$(this).attr("season");
            var episode=$(this).attr("episode");
            console.log($(this).attr("season")+" "+$(this).attr("episode"));
            $.ajax({
                type: "POST",
                url: '/Watched',
                data: {
                    is_checked:checked,
                    id: @ViewBag.id,
                    season: season,
                    episode: episode,
                },
                success: function (data) {
                }
            });
        }

    });


    $(document).on('click', ".number-season", function (e) {
        var season=$(this).attr("id");
        var current_season=$(".season").attr("id");
        if(season!=current_season)
            $.ajax({
                type: "POST",
                url: '/Season',
                data: {
                    id: @ViewBag.id,
                    season: season,
                    imdb: '@ViewBag.imdb',
                },
                success: function (data) {
                    var episodes=JSON.parse(data);
                    var watched="";
                    $(".season").attr("id",season);
                    $(".season").empty();

                    $.each(episodes,function(index,value)
                    {
                        if(value["watched"]==1) watched="checked";
                        else watched="";
                        $(".season").append("<div class='list_item-"+value["number"]+"'>"+
                       " <div class='image'>"+
                           " <div class='hover-over-image zero-z-index '>"+
                                "<img width='200' height='112' class='zero-z-index' src='"+value["img"]+"'>"+
                                "<div>S "+season+", Ep "+value["number"]+
                                "<span style='color:#379ACC; margin-left:5px;'><input "+watched+" type='checkbox' id='watched' episode='"+value["number"]+"' season='"+season+"'>Watched</span>"+
                                "</div>"+
                            "</div></div>"+
                       " <div class='info'>"+
                            "<meta content='"+value["number"]+"'>"+
                            "<div class='airdate'>"+value["airdate"]+"</div>"+
                            "<strong>"+value["name"]+"</strong>"+
                            "<div class='item_description'>"+value["summary"]+" </div></div>"+
                       " <div class='clear'>&nbsp;</div></div>");
                    });
                }
            });
    });

    $( ".stars-rating" ).change(function() {

        if(@loggedon==0) $( "#login" ).trigger( "click" );
        else
        {
            var id=$(this).attr("id");
            var nr_stars=id.substr(id.length-1);
            $.ajax({
                type: "POST",
                url: '/Rating',
                data: {
                    rating: nr_stars,
                    id: @ViewBag.id,
                },
                success: function (data) {
                    console.log("total: "+data);
                    if(data=="0")
                        $.notify({
                            // options
                            message: 'An error ocurred. Please try again later.'
                        },{
                            // settings
                            type: 'danger'
                        });
                    else
                    {

                        $(".movie_rating").text(data);

                    }


                }
            });

        }

    });



    $(document).on('click', "#read-more", function (e) {
        var text = $(this).text();
        if (text == "Read More") {
            $("#description").text('@description' + ' @read_more');
            $("#read-more").text("Hide");
        }
        else {
            $("#read-more").text("Read More");
            $("#description").text('@description');

        }
    });

    $(document).on('click', ".add-favorites", function (e) {
        if(@loggedon==0) $( "#login" ).trigger( "click" );
        else
        {
            var option=0;
            var text=$(".add-favorites").text();
            console.log(text);
            if(text=="Add to favorites")
            {
                option=2;
                text="Remove from favorites";
            }
            else {
                option=1;
                text="Add to favorites";
            }
            console.log(option);
            $.ajax({
                type: "POST",
                url: '/addFavorites',
                data: {
                    option: option,
                    id: @ViewBag.id,
                },
                success: function (data) {
                    console.log(data);
                    $(".add-favorites").html("<span class='glyphicon glyphicon-heart' style='margin-right: 5px;'></span>"+text);

                }
            });

        }
    });


    $(document).ready(function () {
        var radios = $('input:radio[name=stars-rating]');
        console.log("my rating:"+@my_rating);
        if(@my_rating!=0)
            radios.filter('[id=stars-rating-@my_rating]').prop('checked', true);
       
        $('#comment-form').validate({
            rules: {
                comment: {
                    minlength: 5,
                    maxlength:500,
                    required: true
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
                $(element).closest('.form-group').find('input').css('border-color', 'red');
            },
            success: function (element) {
                element.addClass('valid')
                    .closest('.form-group').removeClass('error').addClass('success');
                $(element).closest('.form-group').find('input').css('border-color', 'green');
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: '/addComment',
                    data: {
                        comment: $("#comment").val(),
                        id: @ViewBag.id,

                    },
                    success: function (data) {
                        switch (data) {
                            case "-1": BootstrapDialog.show({
                                title: "<div class='widget-header'><h4><i class='fa fa-warning'></i> Error</h4></div>",
                                message: $('  <div>You can not comment right now. Please try again later.</div>'),
                                buttons: [{
                                    label: 'Ok',
                                    cssClass: 'btn-primary',
                                    hotkey: 13, // Enter.
                                    action: function (dialogItself) {
                                        dialogItself.close();
                                    }
                                }]
                            });
                                break;
                            default:
                                BootstrapDialog.show({
                                    title: "<div class='widget-header'><h4><i class='glyphicon glyphicon-ok'></i> Success</h4></div>",
                                    message: $('  <div>Your comment was sent succesfully.</div>'),
                                    buttons: [{
                                        label: 'Ok',
                                        cssClass: 'btn-primary',
                                        hotkey: 13, // Enter.
                                        action: function (dialogItself) {
                                            dialogItself.close();
                                        }
                                    }]
                                });
                               
                                    $(".single_list").prepend(" <li> "+
                                                            "<div class='preview'>"+
                                                            "<a href='#'><img src='@myimg' class='img-responsive' alt=''>"+
                                                            "</a></div> "+
                                                            "<div class='data'>" +
                                                                "<div class='title'>" +"@name"+" <span id='comment-date'>"+data+"</span></div> "+
                                                                    "<p>"+$("#comment").val()+ "</p> </div> <div class='clearfix'></div></li>");
                                $("comment").val("");
                                break;
                        }

                    }
                });
            }
        });
    });
</script>