﻿@using Microsoft.AspNet.Http;
@{
    // ViewBag.Title = "Home Page";
    Dictionary<int, TopSerie> top = (Dictionary<int, TopSerie>)ViewBag.top;
    int loggedon = 1;
    if (Context.Session.GetInt32("on") == null || Context.Session.GetInt32("on") == 0)
    {
        loggedon = 0;
    }
    int count = 0;
}

<h3>Top @ViewBag.title </h3>

@foreach (KeyValuePair<int, TopSerie> serie in top)
{

    { count++; }
    <div class="first-place">

        <h3>    #@count </h3>



        <a href="/title/@serie.Key">
            @if (@serie.Value.img == "")
            {
                <img src="~/images/series/noimage.png" style="width: 5%;" />
            }
            else
            {
                <img src="@Startup.settings["series"]@serie.Value.img" style="width: 5%;" /> }
        </a>
        <a href="/title/@serie.Key">
            <span>@serie.Value.title</span>
        </a><br />
        <span>Total rating: @serie.Value.rating</span><br />
        <span>Nr of votes: @serie.Value.nr_votes</span><br />
        <div class="right-container">
            <form action="" class="sky-form">
                <fieldset>
                    <section>
                        Your rating
                        <div class="rating" id="@serie.Key">
                            @if (serie.Value.my_rating == 5)
                            { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-5" serie="@serie.Key">
                            }
                            else
                            { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-5" serie="@serie.Key">}
                            <label for="stars-rating-@serie.Key-5"><i class="icon-star"></i></label>
                            @if (serie.Value.my_rating == 4)
                            { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-4" serie="@serie.Key">
                            }
                            else
                            { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-4" serie="@serie.Key">}
                            <label for="stars-rating-@serie.Key-4"><i class="icon-star"></i></label>
                            @if (serie.Value.my_rating == 3)
                            { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-3" serie="@serie.Key">
                            }
                            else
                            { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-3" serie="@serie.Key">}
                            <label for="stars-rating-@serie.Key-3"><i class="icon-star"></i></label>
                            @if (serie.Value.my_rating == 2)
                            { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-2" serie="@serie.Key">
                            }
                            else
                            { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-2" serie="@serie.Key">}
                            <label for="stars-rating-@serie.Key-2"><i class="icon-star"></i></label>
                            @if (serie.Value.my_rating == 1)
                            { <input checked type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-1" serie="@serie.Key">
                            }
                            else
                            { <input type="radio" class="stars-rating" name="stars-rating" id="stars-rating-@serie.Key-1" serie="@serie.Key">}
                            <label for="stars-rating-@serie.Key-1"><i class="icon-star"></i></label>
                        </div>
                    </section>
                </fieldset>
            </form>
            <a href="#" class="add-favorites"><span class="glyphicon glyphicon-heart" style="margin-right: 5px;"></span>@serie.Value.favorites</a>
        </div>
    </div>
    <div class="clearfix"></div>
}

<script>
    $( ".stars-rating" ).change(function() {
        if(@loggedon==0) $( "#login" ).trigger( "click" );
        else
        {
            var id=$(this).attr("id");
            var nr_stars=id.substr(id.length-1);
            console.log(nr_stars);
            var serie_id=$(this).attr("serie");
            console.log("serie id "+serie_id);
            $.ajax({
                type: "POST",
                url: '/Rating',
                data: {
                    rating: nr_stars,
                    id: serie_id
                },
                success: function (data) {
                    console.log("total: "+data);
                    if(data=="0")
                        $.notify({
                            message: 'An error ocurred. Please try again later.'
                        },{
                            type: 'danger'
                        });
                }
            });
        }
    });
</script>