﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    Dictionary<int, string> countries = (Dictionary<int, string>)ViewBag.countries;
}
<h3>Countries</h3>

<div class="countries">
    @foreach (KeyValuePair<int, string> country in countries)
    {
        <a href="/country/@country.Key">@country.Value</a><br />
    }
</div>