﻿@{
    Dictionary<int, string> education = (Dictionary<int, string>)ViewBag.education;
}
<h3>Education</h3>

<div class="education">
    @foreach (KeyValuePair<int, string> educ in education)
    {
        <a href="/education/@educ.Key">@educ.Value</a><br />
    }
</div>