﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    Dictionary<int, string> genres = (Dictionary<int, string>)ViewBag.genres;
}
<h3>Genres</h3>

<div class="genres">
    @foreach (KeyValuePair<int, string> genre in genres)
    {
        <a href="/genre/@genre.Key">@genre.Value</a><br/>
    }
</div>