﻿@{
    Dictionary<int, string> languages = (Dictionary<int, string>)ViewBag.languages;
}
<h3>Languages</h3>

<div class="networks">
    @foreach (KeyValuePair<int, string> language in languages)
    {
        <a href="/language/@language.Key">@language.Value</a><br />
    }
</div>