﻿@{
    Dictionary<int, string> networks = (Dictionary<int, string>)ViewBag.networks;
}
<h3>Networks</h3>

<div class="networks">
    @foreach (KeyValuePair<int, string> network in networks)
    {
        <a href="/network/@network.Key">@network.Value</a><br />
    }
</div>