﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }
.modal-body  {
    overflow:hidden !important;
}

.modal-body .form-control {
    max-width:100%;
}
@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }

    
.modal-dialog {
    margin-left: -300px;
}
div.container
{
    position:relative;
}

}


.invalid {
    color:red;
}

.widget-header h4{
    color:white;
}

#message-error
{
    color:red;
}

ul.ui-autocomplete.ui-menu{width:400px}

/* 
    targets the first result's <a> element, 
    remove the a at the end to target the li itself 
*/
ul.ui-autocomplete.ui-menu li:first-child a{
    color:blue;
}

ul.results-search {
    position: absolute;
    z-index: 9999;
    top: 40px;
    right: 0px;
    background-color: white;
    padding: 10px;
    width: 250px;

}

ul.results-search li
{
    list-style-type: none;
}
.movie_image img {
        margin: 0 auto;
    width: 287px;
}

/*.movie_image {overflow: hidden;
    height: 195px;}*/

.pagination > .images_3_of_2
{
    width:auto;
}

textarea 
{
    max-width:100%;
}
#comment-date{
    color: #989898;
    margin-left: 5px;
}

.add-favorites , .view-favorites
{
    float: right;
    font-size: 15px;
    background-color: #D8232A;
    border-radius: 5px;
    color: white;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  color: #C7C7C7;
}

.row.members
{
    font-size:17px;
    font-weight:bold;
}
.add-friend
{
    color:#0F9A0F;
}