﻿@using Microsoft.AspNet.Http;
@{
    string hide = "";
    string hide2 = "";

    if (Context.Session.GetInt32("on") == null || Context.Session.GetInt32("on") == 0)
    {
        hide = "display:none;";
    }
    else
    {
        hide2 = "display:none;";
    }
    string name = Context.Session.GetString("firstname") + " " + Context.Session.GetString("lastname");

}

<!DOCTYPE html>
<html>
<head>


    <title>Movie_store A Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Movie_store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
    <script src="~/js/jquery.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/search.css">
    <link rel="stylesheet" href="~/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="~/css/bootstrap-dialog.min.css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/notify/animate.min.css" />


    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-dialog.js"></script>
    <script src="~/js/bootstrap-dialog.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/notify/bootstrap-notify.min.js"></script>


    <script>
        $(function ($) {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
         
        });

    </script>




</head>
<body>

    <div class="container">
        <div class="container_wrap">
            <div class="header_top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="/"><img class="logo-img" src="~/images/logo-series.png" /></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <div class="header_right_box">
                                <div id="login_register" style="@hide2;">
                                    <a id="login" href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
                                    <a href="~/Register" id="register"><span class="glyphicon glyphicon-user"></span> Register</a>
                                </div>

                                <div id="logout" style="@hide;">
                                    
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle btn-logout" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span> @name
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                            <li><a href="~/Favorites" class="view-favorites"><span class="glyphicon glyphicon-heart" style="margin-right: 5px;"></span>Favorite Series</a></li>
                                            <li><a href="~/Profile">Profile</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a id="logout-btn" href="#">Log out</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>

                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/top">Top Series</a></li>
                                <li><a href="/members">Members</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact Us</a></li>

                            </ul>



                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

                <div class="header_right">
                    <form class="search-form" method="GET" accept-charset="utf-8">
                        <label class="search-form_label">
                            <input id="search-form" class="search-form_input" type="text" name="s" autocomplete="off" placeholder="" />
                            <span class="search-form_liveout"></span>
                        </label>
                        <button class="search-form_submit fa-search" type="submit"></button>
                    </form>
                    <ul class="results-search" style="display:none;">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>

                </div>

                <div class="clearfix"> </div>

            </div>
            <div class="content">
                @RenderBody()
            </div>

        </div>
        <
    </div>
    <div class="container">
        <footer id="footer">
            <div id="footer-3d">
                <div class="gp-container">
                    <span class="first-widget-bend"></span>
                </div>
            </div>
            <div id="footer-widgets" class="gp-footer-larger-first-col">
                <div class="gp-container">
                    <div class="footer-widget footer-1">
                        <div class="wpb_wrapper">
                            <img src="~/images/f_logo.png" alt="" />
                        </div>
                        <br>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
                        <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                    <div class="footer_box">
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>View Series by</h3>
                            <ul class="first">
                                <li><a href="/genres">Genre</a></li>
                                <li><a href="/countries">Country</a></li>
                                <li><a href="/languages">Language</a></li>
                                <li><a href="/networks">Network</a></li>
                                <li><a href="/educations">Education</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>Information</h3>
                            <ul class="first">
                                <li><a href="#">New products</a></li>
                                <li><a href="#">top sellers</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>Follow Us</h3>
                            <ul class="first">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Youtube</a></li>
                            </ul>
                            <div class="copy">
                                <p>&copy; 2016 World Series</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </footer>
    </div>
    <environment names="Development">


        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/js/site.js" asp-file-version="true"></script>
        <script src="~/js/bootstrap.min.js"></script>



        <script src="~/js/additional-methods.js.js"></script>




    </environment>


    @RenderSection("scripts", required: false)
    <script>

        $(".results-search")
  .focusout(function () {
      $("ul[class='results-search']").css("display", "none");
  })
        $(document).click(function (e) {
            var target = e.target;

            if (!$(target).is('.results-search') && !$(target).parents().is('.results-search')) {
                $("ul[class='results-search']").css("display", "none");
            }
        });

        $("#search-form").keypress(function (event) {
            var key = $("#search-form").val() + String.fromCharCode(event.which);
            console.log(key);
            if (key != null)
                $.ajax({
                    type: "POST",
                    url: '/searchResult',
                    data: {
                        keywords: key
                    },
                    success: function (data) {
                        console.log(data);
                        $("ul[class='results-search']").css("display", "inherit");
                        var series = jQuery.parseJSON(data);
                        console.log(series);
                        var count = 0;
                        $.each(series, function (index, value) {
                            count++;
                            $("ul[class='results-search'] li:nth-child(" + count + ") a").text(value);
                            $("ul[class='results-search'] li:nth-child(" + count + ") a").attr("href", "/title/" + index);

                        });
                    }
                });


        });
        $('#search-form').keyup(function (e) {
            if (e.keyCode == 8) {
                var key = $("#search-form").val() + String.fromCharCode(event.which);
                console.log(key.length);
                if (key.length == 1) $("ul[class='results-search']").css("display", "none");
                else
                    $.ajax({
                        type: "POST",
                        url: '/searchResult',
                        data: {
                            keywords: key
                        },
                        success: function (data) {
                            console.log(data);
                            var series = jQuery.parseJSON(data);
                            console.log(series);
                        }
                    });
            }
        })



        $(document).on('click', "#logout-btn", function (e) {

            BootstrapDialog.show({
                title: "<div class='widget-header'><h4><i class='glyphicon glyphicon-log-out'></i> Logout</h4></div>",
                message: $('<p>Are you sure you want to log out ?</p>'),
                buttons: [{
                    cssClass: 'btn-primary',
                    label: 'Yes',
                    action: function (dialog) {
                        $.ajax({
                            type: "POST",
                            url: '/Logout',
                            data: {
                            },
                            success: function (data) {
                                location.reload();
                            }
                        });
                    }
                }, {
                    cssClass: 'btn-primary',
                    label: 'No',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
            })
        });

        $(document).on('click', "#login", function (e) {



            // alert(h1.value);
            BootstrapDialog.show({
                title: "<div class='widget-header'><h4><i class='glyphicon glyphicon-log-in'></i> Login</h4></div>",
                message: $('   <div class="hero-unit">\
                                    <form method="POST" action="#" class="registration-form" id="contact-form"> \
                                        <div class="form-group">\
                                            <label class="sr-only" for="form-first-email">Email Address</label>\
                                            <div class="controls">\
                                                <input type="text" name="emailReg" placeholder="Email Address" class="form-email form-control" id="emailLogin">\
                                            </div>\
                                        </div>\
                                        <div class="form-group">\
                                            <label class="sr-only" for="form-first-pass">Password</label>\
                                            <div class="controls">\
                                                <input type="password" name="password" placeholder="Password" class="form-password form-control" id="passLogin">\
                                            </div>\
                                        </div></form><p id="message-error"></p></div>'),
                buttons: [{
                    label: 'Login',
                    cssClass: 'btn-primary',
                    hotkey: 13, // Enter.
                    action: function (dialogItself) {
                        if (!$.trim($("#emailLogin").val()) || !$.trim($("#passLogin").val()))
                            $("#message-error").text("Please complete all the fields.");
                        else
                            $.ajax({
                                type: "POST",
                                url: '/Login',
                                data: {
                                    email: $("#emailLogin").val(),
                                    password: $("#passLogin").val()
                                },
                                success: function (data) {
                                    switch (data) {
                                        case "-1":
                                            $("#message-error").text("This email isn't valid.");
                                            break;
                                        case "-2":
                                            $("#message-error").text("Email or password is incorrect.");
                                            break;
                                        case "1":
                                            location.reload();
                                            $("#message-error").text("You have been successfully logged in.");
                                            dialogItself.close();
                                            break;
                                        default:
                                            $("#message-error").text("You can't login right now. Please try again later.");
                                            $("#message-error").text(data);
                                            break;

                                    }
                                }

                            });

                    }
                }
                ,
                {
                    label: 'Login with facebook',
                    cssClass: 'btn-primary',
                    hotkey: 13, // Enter.
                    action: function (dialogItself) {
                        FB.login(function (response) {
                            statusChangeCallback(response);
                            console.log(response);
                        }, { scope: 'public_profile,email' });
                    }
                }]
            });
        });



        $(document).on('click', '#fblogin', function (e) {
            e.preventDefault();
            FB.login(function (response) {
                statusChangeCallback(response);
                console.log(response);
            }, { scope: 'public_profile,email' });
        });

        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                $.ajax({
                    type: "POST",
                    url: '/FBLogin',
                    data: {
                        token: response.authResponse.accessToken
                    },
                    success: function (data) {
                        redirect();
                        //alert(data);
                    }
                });
            } else {
            }
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '184829681877188',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.2' // use version 2.2
            });

            //FB.getLoginStatus(function (response) {
            //    statusChangeCallback(response);
            //});

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        var redirect = function () {
            location.reload();
        }

        $('.dropdown-toggle').dropdown()
    </script>
</body>
</html>
